.body{
    margin: 0px;
}

.headercontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #161617cc;
    width: 1903px;
    height: 44px;
}

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;  
}

.containerproduct{
    background-color: var(--color);
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    justify-content: center;
    align-content: center;  
}

.containerproduct-bottom{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;  
}

.containerproductrow{
    background-color: var(--color);
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
    justify-content: space-evenly;
    align-content: flex-start;  
}

.containerproductrow-bottom{
    background-color: var(--color);
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
    justify-content: space-between;
    align-content: flex-start;  
}

.containerproductspacetop{
    display: flex;
    flex-flow: column wrap;
    margin: 70px;
    justify-content: center;
    align-content: center;  
}

.containerline{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 1903px;
    height: 44px;
}

.contentanoument1{
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 55px;
    color: var(--color);
    text-align: center;
}

.contentanoument2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: var(--color);
    text-align: center;
}

.contentanoument3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color);
    text-align: center;
}

.contentanoumentspaceleft{
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color);
    text-align: center;
}

.content{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
}

.content2{
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: black;
    text-align: center;
}

.content-text{
    margin-left: 433px;
    margin-right: 433px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.itemPicture{
    margin: 0px;
}

/*--------SLIDE-SHOW----------*/

.gallery{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 600px;
    height: 300px;
    background-color: #4c4c4c;
}

.slide-image{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-image img{
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3{
    display: none;
}

.pre, .next{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
}

.pre{
    left: 0;
}

.next{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18%px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background-color: blue;
}

